<div id="<%= dom_id listing %>">
  <p>
    <strong>Title:</strong>
    <%= listing.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= listing.content %>
  </p>

  <p>
    <strong>Img path:</strong>
    <%= listing.img_path %>
  </p>

  <p>
    <strong>User:</strong>
    <%= listing.User_id %>
  </p>

</div>
